.navbar {
  background-color: var(--bs-dark) !important; // Helle Navbar
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0 !important;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #fff !important;

  &:hover {
    color: rgba(255, 255, 255, 0.8) !important;
  }
}

.navbar-brand img {
  height: 40px;
}
